.projects-containers {
  width: 100%;
  height: 700px;
}

.projects-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-box-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.project-box {
  width: 500px;
  height: 350px;
  background-color: white;
  border: 2px solid black;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: end;
}

.project-box:hover {
  background-color: firebrick;
}

.project-box-h1 {
  font-size: larger;
  color: firebrick;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
}

.project-box-h1:hover {
  color: white;
}
