.projects-containers {
  width: 100%;
  height: 700px;
}

.projects-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-box-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.project-box {
  width: 400px;
  height: 400px;
  background-color: firebrick;
}
