.heading-container {
  width: 300px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
}

.heading-styling {
  color: firebrick;
  font-family: "Silkscreen", sans-serif;
  font-size: xx-large;
  font-optical-sizing: auto;
  font-weight: 523;
  font-style: normal;
  border-radius: 10px;
  display: flex;
  align-self: center;
}
