.navbar-container {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  position: sticky;
}
.nav-bar-boxes-container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-bar-boxes {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid white;
}

.nav-bar-text-styling {
  font-size: large;
  color: white;
  text-transform: uppercase;
  font-family: "Silkscreen", sans-serif;
  padding: 15px;
}

.nav-center-box {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Silkscreen", sans-serif;
  color: white;
}
